.product-image-detail{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.product-image-detail:hover{
    opacity: 0.9;
}
.h425{
    height: 425px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.border-right-radius{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.host-image{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.room-specification{
    border: 1px solid var(--blue);
    padding: 20px 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    height: 100%;
}
.room-specification span{
    font-size: 20px;
    font-weight: 500;
    margin-right: 13px;
}

.room-specification h6{
    margin: 0%;
    font-weight: 600;
}

.room-detail-modal-list{
    display: block;
    padding: 0%;
    
}
.room-detail-modal-list li{
    list-style: none;
    padding: 15px 0px;
    border-bottom: 1px solid #dee2e6;
}


.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 40px;
    border: 0;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 8px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}


.things-lists{
    padding: 0px;
    margin: 0%;
}
.things-lists li{
    list-style: none;
    padding: 10px 0px;
    color:black;
}
.host-card{
    background-color: #f0efe9;
    padding: 50px 40px 40px;
    border-radius: 20px;
    border:0px;
    margin: 40px 0px;
}

.host-profile-card-inner{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: white;
    border-radius: 20px;
    padding: 20px 25px;
    background-color: white;
    width: 450px;
    margin: auto;
}
.host-profile-card-inner img{
    margin: 30px 0px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.host-detail-list{
    padding: 0px;
    width: 450px;
    margin:20px auto;
}
.host-detail-list li{
    padding: 10px 0px;
    font-size: 18px;
}
.host-card .meet-btn{
    padding: 12px 18px;
    color: white;
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
    background-color:var(--sky-blue);
    border-radius:8px;
    
}

.pay-choose-1{
    border: 1px solid #dee2e6;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.pay-choose-1.active{
    border: 3px solid black;
}

.pay-choose-2{
    border: 1px solid #dee2e6;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}
.pay-choose-2.active{
    border: 2px solid black;
}


.pay-number-1{
    border: 1px solid #dee2e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0px;
    margin: 0px;

}
.pay-number-1.active{
    border: 3px solid black;
}
.pay-number-1-select{
    border: 0px;

}
.pay-number-2{
    border: 1px solid #dee2e6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0px;
    margin: 0px;

}

.continue-btn{
    width: 100%;
    padding: 14px 0px;
    background-color: #0052cc;
    color: white;
    border: 1px solid #0052cc;
    border-radius: 8px;
    font-weight: 500;
}


.login-share-btn{
    border: 1px solid #dee2e6;
    padding: 15px 20px;
    border-radius: 8px;
    height: 100%;
}
.login-share-btn svg{
    text-align: center;
    margin: auto;
}
.email-share-btn{
    border: 1px solid #dee2e6;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black !important;
}

.room-img{
    width: 100%;
    height:100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}