/* div.container > div.row{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    color: var(--orange);
    text-align: center;
} */

.authentication-from input{
    background-color: var(--gray);
    border: none;
    outline: none;
    padding: var(--p3);
}
.authentication-from input[type="submit"]{
    width: 100%;
    background-color: var(--sky-blue);
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
}
.authentication-from input[type="submit"]:hover{
    border: 2px solid var(--sky-blue);
    /* color: var(--sky-blue);
    background-color: transparent; */
}
.account{
    display: flex;
}
.account > p{
    font-size: 16px !important;
    margin-left: 5px;
}
.account > a, .forget > a{
    margin-left: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--sky-blue);
    /* font-weight: bold; */
}