/* ******* Menu Style Start Here ******* */
menu{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to left, var(--black40), var(--black40)), url('../asset/images/background/bg1.jpg');
    background-position: center;
    background-size: cover;
    
}

menu div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 50px;
    
}

menu div.container h1,
menu div.container p{
    color: var(--white);
    text-align: center;
    margin: var(--m2) 0px;
}

menu div.container a{
    margin: var(--m3) auto !important;
}

/* Filter Styling */
.form{
    border-radius: 25px;
    padding: var(--p1) var(--p3);
    outline: none;
}
.filter{
    background-color: var(--gray);
}
.form-control:focus{
    border-color: var(--orange);
    box-shadow: none;
}

select option:hover{
    content: attr(title);
    background: #666;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    border: none;
}

/* Image Gallery */
.gallerydiv{
    position: relative;
    /* border-radius: 25px; */
    
}
.galleryingdiv{
    overflow: hidden;
    height: 410px;
    width: 100%;
    /* border-radius: 25px; */
}
.h200{
    overflow: hidden;
    height: 200px;
    /* border-radius: 25px; */
}
.galleryingdiv > img.h2{
    height: 200px !important;
}
.galleryingdiv > img{
    min-width: 330px;
    max-width: 600px;
}


.gillarydivtext{
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.gillarydivtext h2 > a{
    color: var(--white);
}
.title{
    background-color: var(--black40);
    text-align: center;
    position: absolute;
    bottom: 0px;
    color: var(--white);
    padding-top: var(--p1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Latest Property Styling */

/* Property Styling */
.productcard{
    max-width: 380px;
    margin: auto;
}
.productcard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

}

.pnumber > p{
    font-size: 16px !important;
}
.reset{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
.reset > i{
    margin-top: 7px;
    cursor: pointer;
}
.reset > p{
    cursor: pointer;
    font-size: 16px !important;
    margin-top: 2px;
}

.pfilter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfilter > select{
    margin-top: -17px;
    border: none;
    outline: none;
}
.grid > span > i{
    cursor: pointer;
}
.properties{
    background-color: var(--gray);
}

.spanicon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: var(--white);
    margin: var(--m) var(--m1);
    cursor: pointer;
}
.spanicon:hover{
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
}

/* .propertydiv{
    background-color: var(--white);
    padding: var(--p1);
} */
.propertyimage{
    width: auto;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.propertyimage > img{
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.propertyimage > span.feature{
    position: absolute;
    top: 10px;
    left: 0px;
    padding: var(--p1) var(--p2);
    background-color: var(--red);
    color: var(--white);
    border-radius: 0px 25px 25px 0px;
    font-size: 12px;
    text-transform: uppercase;
}
.propertyimage > div.row{
    width: 100%;
    background-color: var(--black40);
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
.propertyimage > div.row > div{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.propertyimage > div.row > div > a{
    font-size: 12px !important;
    color: var(--white);
    font-weight: 600;
    margin: auto;
}
.propertyimage > div.row > div > a > i{
    color: var(--blue);
    margin-right: var(--m1);
}

.productdetail{
    padding: var(--p4) var(--p2);
}
.productdetail > a{
    color: var(--blue);
}
.productdetail > h3{
    margin: var(--m2) auto;
}
.productdetail > p{
    font-size: 12px !important;
}

.productdetail > div.row > div.col-6 > a{
    font-size: 12px;
    color: var(--black);
}
.productdetail > div.row > div.col-6 > a > i{
    color: var(--blue);
    margin-right: var(--m1);
}
.price{
    width: 100%;
    margin: auto;
}
.price > div:nth-child(1){
    background-color: var(--sky-blue);
    color: var(--white);
    text-transform: capitalize;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price > div:nth-child(2){
    background-color: var(--black);
    color: var(--white);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price > div:nth-child(1) > p{
    font-size: 12px !important;
    text-align: center;
    margin: var(--m);
    font-weight: 600;
}
.price > div:nth-child(2) > p{
    font-size: 1rem !important;
    text-align: center;
    margin: var(--m);
    font-weight: 600;
    text-transform: uppercase;
}


/* Choose Us Styling */
.choose{
    text-align: center;
    padding: var(--p3);

}
.choose:hover{
    background-color: var(--orange);
    color: var(--white);
}
.choose:hover > i{
    color: var(--white);
}
.choose > i{
    font-size: 3rem;
    margin: var(--m5) auto;
    color: var(--orange);
}
.choose > p{
    font-size: 13px !important;
    margin: var(--m3) auto;
}

/* Property Deal Styling  */
.propertydeal{
    background-color: var(--gray);
}
.dealimgdiv{
    display: flex;
    justify-content: space-around;
}
.dealimgdiv > img{
    width: auto !important;
    max-width: 99%;
    max-height: 500px;
}
.deal .dealtext{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--p6);
}
.deal .dealtext ul{
    list-style: none;
    padding: 0px;
}
.deal .dealtext a.button{
    height: 50px;
    padding: var(--p2) var(--p6);
}


/* Testimonial Styling */
.testimonial{
    background-color: var(--gray);
}

div.message{
    background-color: var(--orange) !important;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.message > div > h3{
    font-weight: normal;
    color: var(--white);
    text-align: center;
    font-size: 30px !important;
}
div.message > div > h3 > i{
    font-size: 50px;
    margin: auto var(--m2);
}
.clint{
    text-align: center;
}
.clint > img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin: auto;
    margin-top: -60px;
    margin-bottom: var(--m6);
}
.star{
    display: flex;
    justify-content: center;
}
.star > i{
    color: #ffda00;
}
.clint p.name{
    font-weight: bold;
    margin-top: 10px;
}
.clint p:nth-child(4){
    margin-top: -20px;
}


/* Membership Styling */
.membership{
    border-radius: 25px !important;
}
.membership > .heading{
    background-color: var(--orange);
    text-align: center;
    height: 70px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membership > .heading > h2{
    color: var(--white);
}
.membership > .heading > i{
    color: var(--orange);
    text-align: center;
    position: absolute;
    font-size: 3rem;
    bottom: -15px;
}

.membership > .detail ul li{
    list-style: none;
    padding: 0px;
    line-height: 40px;
    font-weight: bold;
    padding-left: var(--p6);
    font-size: 1.2rem;
}
.membership > .detail ul li > i{
    font-size: 1.5rem;
}
.membership > .detail ul li > i.yes{
    color: var(--green);
}
.membership > .detail ul li > i.no{
    color: var(--orange);
}
.membership > .detail > h1{
    text-align: center;
}

/* Agent Section Styling */
.agentdiv{
    background-color: var(--gray);
}
.agentcard{
    max-width: 250px;
    margin: auto;
}
.agent{
    max-width: 250px;
    height: 300px;
    overflow: hidden;
    margin: auto;
}
.agent > img{
    width: 250px;
    /* height: 350px; */
}
.agentdetail{
    width: 100%;
    margin: auto;
}
.agentdetail > p:nth-child(1){
    margin-top: var(--m4);
}
.agentdetail > p:nth-child(2){
    margin-top: -10px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--orange) !important;
}





/* *********** Media Query *********** */

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) { 

    /* Menu Styling Start */
    menu{
        height: 100% !important;
    }

    menu div.container{
        padding-top: 20% !important;
    }
    div.message{
        height: 400px;
    }
    div.message > div> h1{
        margin-bottom: 50px;
    }
    div.message > div > h3{
        font-size: 25px !important;
    }
    div.message > div > h3 > i{
        font-size: 35px !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 

    /* Menu Styling Start */
    menu{
        height: 100% !important;
    }

    menu div.container{
        padding-top: 30% !important;
    }
    div.message{
        height: 400px;
    }
    div.message > div > h3{
        font-size: 20px !important;
    }
    div.message > div > h3 > i{
        font-size: 30px !important;
    }


}





.swiper-slide a {
    padding:15px 20px;
    color: var(--blue);
    display: block;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
}
.swiper-slide a:active {
    border-bottom: 2px solid var(--black);
    }
.swiper-slide a:hover {
    border-bottom: 2px solid var(--black);
}


.swiper-button-next,
.swiper-button-prev {
    height: 100%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 2px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 2px !important;
}
.swiper-button-next:after{
    content: "\f061" !important;
    font-size: 1rem !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 700 !important;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
}
.swiper-button-prev:after{
    content: "\f060" !important;
    font-size: 1rem !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 700 !important;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
}

/* .swiper-button-next:after,
.swiper-button-prev:after {
    content: "\f060" !important;
    font-size: 1rem !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 700 !important;
    color: #000 !important;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
} */
