/* Adding Poppins Font */
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* ****** Color ****** */
:root{
    --white: #fff;
    --black: #000;
    --black40: rgba(0, 0, 0, .4);
    --orange: #f77d2b;
    --orange75: rgba(255, 166, 105, .75);
    --gray: #efefef;
    --green: #378d00;
    --blue:#1a2b48;
    --sky-blue:#0072bc;
    --red:#c03;

    /* Margin Sizing */
    --m: auto;
    --m0: 0px;
    --m1: 5px;
    --m2: 10px;
    --m3: 15px;
    --m4: 20px;
    --m5: 25px;
    --m6: 30px;
    --m50: 50px;
    --m100: 100px;
    --m150: 150px;
    --m200px: 200px;

    /* Padding Sizing */
    --p: auto;
    --p0: 0px;
    --p1: 5px;
    --p2: 10px;
    --p3: 15px;
    --p4: 20px;
    --p5: 25px;
    --p6: 30px;
    --p50: 50px;
    --p100: 100px;
    --p150: 150px;
    --p200px: 200px;
}


/* ***** Text Sizing ***** */
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2{
    font-size: 2rem !important;
    font-weight: bold;
}

h3{
    font-size: 1.875rem !important;
    font-weight: 600;
}
h4{
    font-size: 1.5rem !important;
    font-weight: 600;
}
h5{
    font-size: 1.35rem !important;
    font-weight: 500;
}
h6{
    font-size: 1.2rem !important;
    font-weight: 400;
}
p{
    font-size: 1rem !important;
    font-weight: 400;
}
.subparagraph{
    font-size: 0.875rem !important;
    font-weight: 400;
}
.fs12px{
    font-size: 0.675rem !important;
}






/* ****** Button Styling ****** */
.button{
    background-color: var(--orange) !important;
    color: var(--white) !important;
    border: 1px solid var(--orange);
    border-radius: 25px;
    border: none;
    outline: none;

}
.button:hover{
    background-color: transparent !important;
    color: var(--orange) !important;
    border: 1px solid var(--orange);
}
.button{
    padding: var(--p1) var(--p4);
}
.buttonlg{
    width: 175px;
    height: 50px;
    padding: var(--p2) var(--p6);
}

/* ****** Link Styling ****** */
a{
    text-decoration: none !important;
}



/* ****** Navbar Styling ****** */
.topnav{
    background-color: var(--blue);
    /* height: 55px; */
}
.itemdiv{
    /* margin-top: 10px; */
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

}
.navitem{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 0.875rem;
    margin: var(--m) var(--m4);


}
.navitem:hover{
    color: var(--white);
}
.navitem > span > i{
    margin-right: var(--m2);
    font-size: 0.875rem;
}

/* Navbar Logo */

.navbar{
    background-color: var(--white);
}
.navbar-brand > img{
    width: 175px;
}

.navbar-nav > .nav-item{
    margin: var(--m0) var(--m2) !important;
}

.navbar-nav > .nav-item > .nav-link{
    text-transform: capitalize;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--blue) !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link.active,  .navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--sky-blue) !important;
}

.navbar-toggler{
    background-color: var(--orange) !important;
}

/* Margin Bottom */
.margin{
    height: 100px;
}
/* Navbar End */


/* Footer Styling Start */
footer{
    background-color: var(--white);
}
.fdiv1 > p{
    color: var(--blue);
    margin: var(--m4) auto;
}
img.logo{
    width: 175px;
    margin-bottom: var(--m6);
}
.contact{
    display: flex;
    color: var(--white);
    margin: var(--m4) var(--m);
    background-color: var(--sky-blue);
    padding: var(--p2);
}
.contact > span:nth-child(1){
    height: 50px;
    margin: var(--m) var(--m2);
}
.contact > span:nth-child(1) > i{
    font-size: 3rem;
    color: var(--white);
}
.contact > span:nth-child(2){
    margin-left: var(--m2);
    margin-top: var(--m3);
}
.contact > span:nth-child(2) p{
    line-height: 10px;
}
.contact > span:nth-child(2) p:nth-child(2){
    font-weight: bold;
}
.fdiv2, .fdiv3, .fdiv4{
    color: var(--blue);
}
.fdiv2 ul, .fdiv3 ul{
    list-style: none;
    padding: 0px !important;
}
.fdiv2 ul > li, .fdiv3 ul > li{
    height: 30px;
}
.fdiv2 ul > li > a, .fdiv3 ul > li > a{
    color: var(--blue) !important;
}
.fdiv4 input{
    padding: var(--p2) !important;
    outline: none;
    border: none;
}
.orange75{
    background-color: var(--sky-blue);
    outline: none;
    border: none;
    color: var(--white);
}
.fdiv4 > p{
    font-size: 13px;
}
.fdiv4 > p:nth-child(2){
    margin-top: -10px;
}




/* *********** Media Query *********** */

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) { 
    /* Navbar */
    .navitem{
        margin: var(--m0);
        margin-bottom: var(--m3);
        margin-right: var(--m1);
    }
    /* ***** Text Sizing ***** */
    h1{
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    p{
        font-size: 1rem !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
    /* Navbar */
    .navitem{
        margin: var(--m0);
        margin-bottom: var(--m3);
        margin-right: var(--m1);
    }

    /* ***** Text Sizing ***** */
    h1{
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    p{
        font-size: 1rem !important;
    }


}






